<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

  <div class="header">
    National Park General Information
  </div>
  
  <div class="body-content">
    @RenderBody()
  </div>

  <div class="footer">
    <br />
      For more info, <a href = "https://www.nps.gov/index.htm">click here</a>
  </div>
</body>
</html>
